/*---------------------------------------------------*/
/*  THIS IS A SETTINGS FILE                          */
/*---------------------------------------------------*/



$color-A1: #000000; /* rgb(0,0,0)  Black - things like text for field label descriptions */
$color-A2: #282828; /* rgb(40,40,40)  Black-gray - things like text for buttons and inputs */
$color-A3: #222222; /* rgb(34,34,34)  Black-gray - things like footer background */

$color-B: white;    /* rgba(255,255,255,1); background */

$color-B1: #4e96e2; /* rgb( 78,150,226); Main Blue color - things like highlighted-buttons, dropdown-arrows, live-chat, small-icons, premium-$-text */
$color-B2: #647178; /* rgb(100,113,120); Darker de-saturated Blue color - things like panel background */

$color-G1: #4ec623; /* rgb(78, 198, 35)  Bright Green color - things like ticks and progress circle*/
$color-G2: #52a825; /* rgb(82, 168, 37)  Main Green color - things like buttons and menu panels */
$color-G3: #326d14; /* rgb(50, 109, 20)  Dark Green color - things like hover buttons added 28th Sep */

$color-GRAY-1: #f8f8f8; /* rgb(248,248,248)  Gray - things like highlighted/current-fieldset, aside-progress background */
$color-GRAY-2: #c2c2c2; /* rgb(194,194,194)  Gray - things like input/button outlines */
$color-GRAY-3: #b5b5b5; /* rgb(181,181,181)  Gray - things like input-placeholders */
$color-GRAY-4: #999999; /* rgb(153,153,153)  Gray - things like footer text */
$color-GRAY-5: #e6e6e6; /* rgb(230,230,230)  Gray - things like divider-line for page_progress */
$color-GRAY-6: #f1f1f1; /* rgb(241,241,241)  Gray - things like breadcrumb panel */
$color-GRAY-7: #dddddd; /*                   Gray - things like header line */
$color-GRAY-8: #838383; /*                   Gray - things like sub menu text */


$color-R1: #d60000; /* rgb(214,0,0)  Red - things like input/button outlines for errors */


$color-N: transparent; /* rgba(0,0,0,0)  Transparent */

